<div class="container">

  <div class="placeList" *ngIf="listPlaces.length > 0">

    <div class="placesButtons">

      <div *ngFor="let place of listPlaces let i = index">
        <div class="place" (click)="placeDetails(i)">
          <div class="logo">
            <img src="https://i.pinimg.com/236x/19/35/a2/1935a2c2c881b33068c8fc5edcf1aff2.jpg" alt="test">
          </div>
          <h4>{{ place.name }}</h4>
        </div>
      </div>

    </div>

    <div class="placeDetails">
      <h3>{{ titlePlace }}</h3>
      <p>{{ descriptionPlace }}</p>

      <div class="contImgs">

        <div class="showImg">
          <img [src]="currentImg" alt="">
        </div>

        <div class="imgsSelect">

          <div class="carrousel" *ngFor="let imgPlace of imgsPlace let i = index">
            <img src="{{ imgPlace }}" alt="" (click)="changeImg(i)">
          </div>

        </div>

      </div>

      <div class="event" *ngIf="nameEventPlace">
        <p><span>Evento:</span>{{ nameEventPlace }}</p>
        <p><span>Dia:</span>{{ dayEventPlace }} --- <span>Hora: </span> {{ hourEventPlace }}</p>
      </div>

      <div class="buttons">
        <button>Reservar</button>
        <button (click)="redirectDetailsPlace()">Mas detalles</button>
      </div>

      <!-- Add Mapa -->
    </div>

  </div>

  <div class="notPlaces" *ngIf="listPlaces.length == 0">
    <h6>Por el momento no hay {{ kindPlace }} disponibles</h6>
    <h6>😢</h6>
  </div>

</div>
