<div class="container">
  <h3>Personas que confiaron en nosotros!</h3>

  <div class="people">
    <div class="user">
      <div class="contImg">
        <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" alt="">
      </div>
      <p>Any Elsner</p>
    </div>

    <div class="user">
      <div class="contImg">
        <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" alt="">
      </div>
      <p>Wicho Canul</p>
    </div>

    <div class="user">
      <div class="contImg">
        <img src="https://cdn.icon-icons.com/icons2/2468/PNG/512/user_icon_149329.png" alt="">
      </div>
      <p>Roberto Otro...</p>
    </div>

    <button class="showMore">Mostrar mas...</button>
  </div>
</div>
