<div class="container">
  <div class="sectionMap">
    <div class="map">
        <div id="map"></div>
    </div>
    <div class="description">
      <h3>¿Que hacer?</h3>
      <p>Si ya te encuentras aquí, puedes visitar la sección de Mapa en donde podrás ver todos los establecimientos asociados con nosotros y así evitar perderte, y perder mucho tiempo buscando un lugar, igual todos los lugares turísticos los podrás encontrar aquí </p>
      <ul>
        <li>
          <img src="./assets/imgs/map/turismo.png" alt="">
          <p>Turismo</p>
        </li>
        <li>
          <img src="./assets/imgs/map/evento.png" alt="">
          <p>Eventos</p>
        </li>
        <li>
          <img src="./assets/imgs/map/hospedaje.png" alt="">
          <p>Hospedaje</p>
        </li>
        <li>
          <img src="./assets/imgs/map/restaurante.png" alt="">
          <p>Restaurantes</p>
        </li>
      </ul>
      <button>Ver mapa completo</button>
    </div>
</div>
</div>
