<div class="container-full">
  <div class="container">

    <div class="nav">
      <div class="logo">
        <img
          src="https://cdn.create.vista.com/api/media/medium/470853218/stock-vector-ancient-mexico-pyramid-shape-gold?token="
          alt="TT"
          routerLink="/home"
        >
        <p>Travel To</p>
      </div>

      <div class="categories">
        <button
          routerLink="/turismo"
          routerLinkActive="active"
        >
          Turismo
        </button>

        <button
          routerLink="/eventos"
          routerLinkActive="active"
        >
          Eventos
        </button>

        <button
          routerLink="/hospedaje"
          routerLinkActive="active"
        >
          Hospedaje
        </button>

        <button
          routerLink="/restaurantes"
          routerLinkActive="active"
        >
          Restaurantes
        </button>

        <button>Reserva</button>
      </div>
    </div>

  </div>
</div>
