/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

@font-face {
  font-family: primary;
  src: url(assets/fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: secondary;
  src: url(assets/fonts/Quicksand-VariableFont_wght.ttf);
}

*{
  width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: primary;
}

p {
  font-family: secondary;
}

.container-full {
  width: 100%;
}

.container {
  padding: 0 10px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.leaflet-control-zoom, .leaflet-bar, .leaflet-control {
  border: none !important;
}

div.leaflet-popup {
  width: 500px!important;
}

.leaflet-popup-content-wrapper {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* ============================================================
TABLETS
============================================================ */
@media screen and (min-width: 601px) and (max-width: 912px) {
  .container {
    margin: 0 auto;
    padding: 0 10px;
  }
}

/* ============================================================
PHONE
============================================================ */
@media screen and (max-width: 600px) {
  .container {
    margin: 0 auto;
    padding: 0 10px;
  }
}
